[Unit]
Description=Cacophony Project I2C
Before=network.target tc2-hat-attiny.service

[Service]
Type=simple
ExecStart=/usr/bin/tc2-hat-i2c service
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
